@charset "UTF-8";
/* CSS Document */



nav ul li {display: inline;}

.map {width:100%;}

.icon {float:left; width:40px;}
.product {width:50%; text-align:center;}

.wrapper {max-width:960px;
margin:0 auto;}

.coffeepack {max-width:50%;}

/* helper classes */
.clearfix {
  clear:both;
}
.left {
  float:left
}
.right {
  float:right;
}
.centered {
  float: none;
  margin: 0 auto;
}

/*this stops the border from pushing the last column onto a different line*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {max-width:100%}
/*to see grid*/

.grid .grid [class*='column-']{ 
padding: 0 0 25px; 
}
.nested {background-color:aqua;}

.grid .grid {margin: 0 0 }
.grid:after {
  /* This is making the grid expand to contain the floated columns*/
  content: "";
  display: table;
  clear: both;
}

[class*='column-'] {
  /* This is the rule that is defining all of the properties of the columns, it selects everything with a class name that contains 'column-' */
 /*acts as gutters*/
  float: left;
  padding-right: 50px;
  padding-bottom:50px;
}

[class*='column-']:last-of-type {
  /* This selects the last column and tells it not to add padding on the right */
  padding-right: 0;}
  
/*defines the width of all the columns, divided into 12 becuase 12 is divisible by 1 2 3 and 4*/
.column-2-3 {
  width: 66.66%}

.column-1-3 {
  width: 33.33%}

.column-1-12 {
  width: 8.33%}

.column-2-12 {
  width: 16.66%}

.column-3-12 {
  width: 25%}

.column-4-12 {
  width: 33.33%}

.column-5-12 {
  width: 41.66%}

.column-6-12 {
  width: 50%}

.column-7-12 {
  width: 58.33%}

.column-8-12 {
  width: 66.66%}

.column-9-12 {
  width: 75%}

.column-10-12 {
  width: 83.33%}

.column-11-12 {
  width: 91.66%}

.column-12-12 {
  width: 100%}


/*changes settings when screnn is a certain size*/
@media screen and (max-width:700px) { 

[class*='column-']{
width:100%;}

	.column-mobile {
		width:50%;
	}


[class='offset-']{margin-left:0;}}